{% trans_default_domain 'FOSUserBundle' %}

<div id="loginPage" class="text-center">
    <form method="POST" action="{{ path("fos_user_security_check") }}" class="form-signin">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
        <img class="mb-4" src="https://www.mindid.fr/image/logo_header.png" alt="" width="64" height="48">
        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input name="_username" type="text" id="username" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="_password" type="password" id="password" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">C'est parti !</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
</div>
