{% extends 'base.html.twig' %}

{% block title %}Ajout d'un contact{% endblock %}

{% block body %}
	{{ form_start(form) }}
	{{ form_widget(form) }}

    <button type="submit">Ajouter</button>
	{{ form_end(form) }}
{% endblock %}
