<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset('build/css/global.css') }}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="container">
        {% block body %}{% endblock %}
    </body>
    <script src="{{ asset('build/manifest.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/js/common.js') }}"></script>
    <script src="{{ asset('build/js/app.js') }}"></script>
    {% block javascripts %}{% endblock %}
</html>
